body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
}

p {
  font-size: 1.2rem;
}

.title-div {
  background: red;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#img-div {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: .5rem;
}

h3 {
  font-size: 1.5rem;
}

ul{
  font-size: 1.1rem;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: red;
  margin-top: 1rem;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #eee;
}